<footer class="footer py-14">
    <div class="container mx-auto text-center">
        {{!-- Social Media - ./partials/components/social-media.hbs --}}
        {{> "components/social-media" class="footer-social-media"}}
        {{!-- Secondary Navigation --}}
        {{#if @site.secondary_navigation}}{{navigation type="secondary"}}{{/if}}
        {{!-- Copyright  --}}
        <div class="text-sm mt-5 opacity-80">
            <span class="block mb-2">
                Salvo que se indique lo contrario, el contenido escrito de m44.cl es de dominio público bajo la licencia <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener">Creative Commons Zero (CC0)</a>.
            </span>
            <span class="block mb-2">
                Las fotografías de M4 están protegidas por derechos de autor y su uso se rige por nuestra <a href="https://m44.cl/terminos/" target="_blank" rel="noopener license">Licencia de Uso Restringido</a>, cuyos términos pueden actualizarse para nuevos usos.
            </span>
            <span class="block mb-2">
                Las obras de terceros y contenido no incluido en esta dedicatoria se indicarán claramente en su página o publicación correspondiente.
            </span>
        </div>
    </div>
</footer>